In [2]:
# Dependenices
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, Date, String
from sqlalchemy.orm import Session

In [4]:
# show dataframe
new_measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [5]:
new_stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [6]:
# Create the measuremetn and station class
class Measurement(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(String(255))
    tobs = Column(String(255))
    
    def __repr__(self):
        return "<station info (%r, %r)>" % (self.station, self.name)

class Station(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(String(255))
    longtitude = Column(String(255))
    elevation = Column(String(255))
    
    def __repr__(self):
        return "<measurement info (%r, %r)>" % (self.station, self.date)

In [7]:
# Create a connection to a SQLite database
engine = create_engine('sqlite:///Resources/hawaii.sqlite')

In [8]:
#Create a connection to the engine called 'conn'
conn = engine.connect()

In [9]:
# Use 'create_all' to create the customers table in the database
Base.metadata.create_all(engine)

In [10]:
engine.table_names()

['measurements', 'stations']

In [11]:
# Read in cleaned measurements and stations CSVs
new_measurements = 'Resources/clean_hawaii_measurements.csv'
new_stations = 'Resources/clean_hawaii_stations.csv'

# Reading csv into pandas
new_measurements_df = pd.read_csv(new_measurements)
new_stations_df = pd.read_csv(new_stations)

In [12]:
# Insert table to class measurement and station
data1 = new_measurements_df.to_dict(orient="records")
data2 = new_stations_df.to_dict(orient="records")

conn.execute(Measurement.__table__.delete())
conn.execute(Station.__table__.delete())

conn.execute(Measurement.__table__.insert(), data1)
conn.execute(Station.__table__.insert(), data2)

# Insert into sqlite
# df1.to_sql(con=engine, index_label='id', name=Measurement.__tablename__, if_exists='replace')
# df2.to_sql(con=engine, index_label='id', name=Station.__tablename__, if_exists='replace')

In [14]:
# Print the first five rows of 'measurements'
#print(data1[:5])
print(data2[:5])

[{'station': 'USC00519397', 'name': 'WAIKIKI 717.2, HI US', 'latitude': 21.2716, 'longitude': -157.8168, 'elevation': 3.0}, {'station': 'USC00513117', 'name': 'KANEOHE 838.1, HI US', 'latitude': 21.4234, 'longitude': -157.8015, 'elevation': 14.6}, {'station': 'USC00514830', 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'latitude': 21.5213, 'longitude': -157.8374, 'elevation': 7.0}, {'station': 'USC00517948', 'name': 'PEARL CITY, HI US', 'latitude': 21.3934, 'longitude': -157.9751, 'elevation': 11.9}, {'station': 'USC00518838', 'name': 'UPPER WAHIAWA 874.3, HI US', 'latitude': 21.4992, 'longitude': -158.0111, 'elevation': 306.6}]

In [15]:
engine.execute("select * from measurements Limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', '0.08', '65'),
 (2, 'USC00519397', '2010-01-02', '0.0', '63'),
 (3, 'USC00519397', '2010-01-03', '0.0', '74'),
 (4, 'USC00519397', '2010-01-04', '0.0', '76'),
 (5, 'USC00519397', '2010-01-07', '0.06', '70')]

In [16]:
engine.execute("select * from stations Limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', '21.2716', None, '3.0'),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', '21.4234', None, '14.6'),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', '21.5213', None, '7.0'),
 (4, 'USC00517948', 'PEARL CITY, HI US', '21.3934', None, '11.9'),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', '21.4992', None, '306.6')]